:root {
	--clr-yellow: #ffff00;
	--clr-yellow-light: #f0f08c;
	--clr-purple: #8a2be2;
	--clr-white: #ffffff;
	--clr-orange: #ffa500;
	--clr-orange-light: #ffa600b6;
}	


body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

h1 {
	color: var(--clr-purple);
}

img {
	height: 150px;
	width: auto;
	margin: 30px 0;
}

a {
	text-decoration: none;
}

h3,
p,
ul {
	color: var(--clr-white);
}

h3 {
	font-weight: bold;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 10px 0;
	padding-left: 10px;
}

p a {
	background-color: var(--clr-yellow-light);
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
}

p a:hover {
	background-color: var(--clr-orange);
}

small {
	display: block;
}

.highlight {
	border-left: 3px solid var(--clr-yellow);
	color: var(--clr-yellow);
}

.card {
	background-color: var(--clr-purple);
	width: 60%;
	margin: 0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 40px;
}

.btn {
	display: inline-block;
	margin: 20px auto;
	padding: 20px;
	color: black;
	border-radius: 8px;
	background-color: var(--clr-orange-light);
}

.btn:hover {
	background-color: var(--clr-orange);
}
