:root {
	--clr-dark-liver: rgb(83, 75, 75);
	--clr-jazzberry-jam: rgb(167, 1, 78);
	--clr-giants-club: rgb(170, 96, 83);
	--ff-primary: 'Fira Sans', sans-serif;
	--ff-secondary: 'Oswald', sans-serif;;
}

body {
	font-family: var(--ff-primary)
}

h1,
p {
	text-align: center;
	color: var(--clr-dark-liver);
}

a {
	color: var(--clr-jazzberry-jam);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#todays-challenge {
	font-family: var(--ff-secondary);
	color: var(--clr-giants-club);
	font-size: 52px;
}
