h1 {
	font-size: 48px;
	color: var(--clr-dark-puce);
	margin: 0;
}

a {
	background-color: var(--clr-jazzberry-jam);
	color: var(--clr-white);
	border-radius: 4px;
	font-size: 24px;
	padding: 12px 48px;
	border: 1px solid var(--clr-jazzberry-jam);
	display: inline-block;
	margin: 0;
}

a:hover {
	background-color: var(--clr-jazzberry-jam-lighter);
	text-decoration: none;
}

ol {
	list-style: none;
	padding: 0;
	width: 500px;
	margin: 36px auto;
}

li {
	background-color: var(--clr-light-coral);
	border-radius: 6px;
	margin: 32px;
	padding: 16px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

header p {
	margin: 12px 0;
}

main h2 {
	color: var(--clr-bulgarian-rose);
}

main p {
	font-family: var(--ff-primary);
	margin: 12px;
	color: var(--clr-dark-sienna);
}

.highlight-goal {
	background-color: var(--clr-giants-club);
}
