:root {
	--clr-dark-liver: hsl(0, 5%, 31%);
	--clr-jazzberry-jam: hsl(332, 99%, 33%);
	--clr-jazzberry-jam-lighter: hsl(332, 93%, 71%);
	--clr-giants-club: hsl(9, 34%, 50%);
	--clr-light-coral: hsl(7, 47%, 91%);
	--clr-bone: hsl(18, 37%, 86%);
	--clr-dark-puce: hsl(0, 7%, 26%);
	--clr-white: hsl(0, 0%, 100%);
	--ff-primary: 'Fira Sans', sans-serif;
	--ff-secondary: 'Oswald', sans-serif;
}

body {
	font-family: var(--ff-primary);
	text-align: center;
	background-color: var(--clr-bone);
	margin: 50px;
}

h1,
p {
	color: var(--clr-dark-liver);
}

h1 {
	color: var(--clr-jazzberry-jam);
}

a {
    color: var(--clr-jazzberry-jam);
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    font-family: var(--ff-secondary);
    color: var(--clr-dark-liver);
}